<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="StudyMinutes" value="90" />
        <add key="RestMinutes" value="20" />
        <add key="MeditationSeconds" value="20" />
        <add key="MinRandomMinutes" value="3" />
        <add key="MaxRandomMinutes" value="5" />
        <add key="SoundFile" value="default.wav" />
        <add key="ShowPopup" value="true" />
    </appSettings>
</configuration>